.product-container {

    display: flex;
    color: #333;
    background-color: #fff;

    .content-left {
        width: 50%;

        .img-down {
            display: flex;
            gap: 10px;

            .img-small {
                padding-top: 10px;

                .active {
                    border: 1px solid #ff3945;
                }

                img {
                    width: 80px;
                    height: 80px;
                    gap: 10px;
                    border-radius: 3px;
                    cursor: pointer;

                }

            }
        }

        .img-up {
            img {
                width: 380px;
                height: 380px;
            }
        }
    }

    .content-right {
        border: 1px solid green;
        width: 50%;
        background-color: #fafafa;

        .title {
            font-size: 18px;
            font-weight: 600;
            text-align: left;
            padding: 10x 0px;
        }

        .price {
            font-size: 20px;
            font-weight: 600px;
            padding: 5px 0px 15px 0px;
            ;
        }

        .size {
            padding: 5px 0px;
            ;
        }

        .action {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .quantity {
            padding: 15px 0px 0px 0px;
        }

        input {
            border: none;
            outline: none;
            border-radius: 5px;
            width: 30px;
            height: 25px;
        }

        button {
            background: #ff3945;
            border-radius: 5px;
            outline: none;
            border: none;
            width: 60%;
        }
    }
}